[Desktop Entry]
Version=1.0
Type=Application

Name=Ezan Vakti
Comment=Diyanet İşleri Başkanlığının yayınladığı ezan vakitlerine uygun tray ikonu ve masaüstü uygulaması
Categories=Utility;Clock;

Icon=com.cenes.EzanVakti.icon
Exec=ezanvakti
Terminal=false